@use "@styles/_variables" as *;
@use "@styles/_mixins" as *;

.section-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(81, 96, 119, 0.2);
    width: 100%;
    padding-top: $spacing-sm;
    margin-bottom: 1.5rem;
    height: 123px;

    &__header {
        display: flex;
        gap: $spacing-md;
        align-items: center;
        justify-content: center;
    }

    &__back {
        margin-top: $spacing-xs;
        background-color: transparent;
        color: #AEBBCA;
        font-size: $font-size-2xl;
        transition: color $transition-fast;

        @include hover-only {
            color: $accent-dark-purple;
        }
    }

    &__title {
        margin: 0;
        font-size: $font-size-2xl;
        font-weight: $font-weight-bold;
    }

    &__nav {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0 $spacing-xl;
        scroll-behavior: smooth;
        overflow-x: hidden;

        &--scrollable {
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            @media screen and (max-width: $breakpoint-sm) {
                justify-content: flex-start;
            }
        }
    }

    &__item {
        flex-shrink: 0;
        padding: $spacing-lg 0;

        @media (min-width: 600px) {
            min-width: 160px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        position: relative;
        color: $text-primary;
        font-weight: $font-weight-semibold;
        font-family: $font-heading;
        text-decoration: none;
        font-size: $font-size-base;
        line-height: 24px;
        padding: 0 36px;
        border-radius: $border-radius-sm;
        outline: none;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: -$spacing-lg;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $primary-light;
            transition: width 0.3s ease;
        }

        &:hover {
            color: $text-primary;
        }

        &--active {
            &::after {
                width: 100%;
            }
        }
    }

    &__nav::before,
    &__nav::after {
        content: "";
        position: absolute;
        top: 0;
        width: 55px;
        height: 100%;
        pointer-events: none;
        z-index: 2;
        transition: opacity 0.3s ease;
    }

    &__nav::before {
        left: 0;
        background: linear-gradient(to right,
                $bg-primary 70%,
                rgba($bg-primary, 0.85) 85%,
                rgba($bg-primary, 0.5) 95%,
                transparent 100%);
    }

    &__nav::after {
        right: 0;
        background: linear-gradient(to left,
                $bg-primary 70%,
                rgba($bg-primary, 0.85) 85%,
                rgba($bg-primary, 0.5) 95%,
                transparent 100%);
    }

    &__scrollWrapper {
        position: relative;
        width: 100%;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: $font-size-lg;
        padding: $spacing-xs $spacing-sm;
        height: 100%;
        width: 40px;
        z-index: 5;
        color: rgb(198, 207, 218);
        transition: all 0.2s ease;

        &--left {
            left: 8px;
        }

        &--right {
            right: 8px;
        }
    }
}